<%= form_for @zombie, html:{class:"form", role: "form"} do |f|%>
  <% if @zombie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@zombie.errors.count, "error") %> prohibited this zombie from being saved:</h2>

      <ul>
      <% @zombie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class:"form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :bio %><br>
    <%= f.text_area :bio , class:"form-control"%>
  </div>
  <div class="field form-group">
    <%= f.label :age %><br>
    <%= f.number_field :age, class:"form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :email %><br>
    <%= f.email_field :email, class:"form-control" %>
  </div>
  <div class="actions form-group">
    <%= f.submit 'Enviar',class:"btn btn-danger"%>
  </div>
<% end %>
