<p id="notice"><%= notice %></p>

<div class="show panel panel-info">
  <div class="panel-heading">
    <p >
      <strong>Name:</strong>
      <%= @zombie.name %>
    </p>
  </div>

  <div class="panel-body">
    <p>
      <strong>Bio:</strong>
      <%= @zombie.bio %>
    </p>

    <p>
      <strong>Age:</strong>
      <%= @zombie.age %>
    </p>
    <p>
      <strong>Email:</strong>
      <%= @zombie.email %>
    </p>
    <p>
      <strong>Tweets:</strong>
      <% if @zombie.tweets.any?%>
        <% @zombie.tweets.each do |tweet|%>
          <li><%= tweet.body  %></li>
        <% end %>
      <% else %>
        <span>No tweets for this zombie</span>
      <% end %>
    </p>
    <p>
      <strong>Brain:</strong>
      <%= @zombie.brain.status %>
    </p>
  </div>
</div>

<div class="btns-container">
  <%= link_to 'Edit', edit_zombie_path(@zombie), class:"btn btn-default" %>
  <%= link_to 'Back', zombies_path , class: "btn btn-default"%>
</div>
